body
{
    background: gainsboro;
}
a
{
    color: red;
    text-decoration: none;
}
a:visited
{
    color: red;
}
a:active
{
    color: red;
}

P.content
{
    position: fixed; top: 30%; left: 50%;
}
P.menu
{
    text-align: right
}
textarea.about
{

}
.content
{
    position: fixed; top: 30%; left: 40%;
}
h2.center
{
    text-align: center;
}
.form
{

    padding: 50px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.form ul {
    list-style-type:none;
}
.form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

.form label
{
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.form input
{
    height:20px;
    width:220px;
    padding:5px 8px;
}
.form textarea
{
    resize: none;
}
.form button
{
    margin-left:156px;
}
button.submit {
    background-color: #CD5C5C;
    background: -webkit-gradient(linear, left top, left bottom, from(#CD5C5C), to(#F08080));
    background: -webkit-linear-gradient(top, #CD5C5C, #F08080);
    background: -moz-linear-gradient(top, #CD5C5C, #F08080);
    background: -ms-linear-gradient(top, #CD5C5C, #F08080);
    background: -o-linear-gradient(top, #CD5C5C, #F08080);
    background: linear-gradient(top, #CD5C5C, #F08080);
    border: 1px solid #F08080;
    border-bottom: 1px solid #F08055;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #F08020;
    -webkit-box-shadow: 0 1px 0 0 #F08020 inset ;
    -moz-box-shadow: 0 1px 0 0 #F08020 inset;
    -o-box-shadow: 0 1px 0 0 #F08020 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #CD5A5C;
}
button.submit:hover
{
    opacity:.85;
    cursor: pointer;
}
button.submit:active
{
    border: 1px solid #CD2A5C;
    box-shadow: 0 0 10px 5px #CD1A5C inset;
    -webkit-box-shadow:0 0 10px 5px #CD1A5C inset ;
    -moz-box-shadow: 0 0 10px 5px #CD1A5C inset;
    -o-box-shadow: 0 0 10px 5px #CD1A5C inset;
}