body
{
    background: gainsboro;
}

img
{
    max-height: 48%;
    width: auto;
    padding: 5px;
}

nav
{
    text-align: right;
}

img.logo
{
    float: left;
    text-align: left;
    max-height: 30px;
    width: auto;
    padding: 0;
}
img.full
{
    max-width: 98%;
    height: auto;
    padding: 5px;
}

div
{
    width:600px;
    margin-right: 30%;
    margin-left: 30%;
}

div.content
{
    width:600px;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10%;
}

div.comment
{
    width:500px;
    margin-left: 5%;
}

div.put
{
    background: whitesmoke;
    border: 1px solid powderblue;
    width:600px;
    margin-right: 30%;
    margin-left: 30%;
    height: 370px;
    margin-top: 3px;
    position:relative;
}

div.fullpost
{
    width:800px;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10%;
    background: whitesmoke;
    border: 1px solid powderblue;
    position:relative;
}

h6.error
{
    font-size: 1em;
    color: #B22222;
    background-color: #F08080;
}

h6.success
{
    font-size: 1em;
    color: #008000;
    background-color: #98FB98;
}

a
{
    color: red;
    text-decoration: none;
}

a:visited
{
    color: red;
}

a:active
{
    color: red;
}

h3
{
    word-wrap: break-word;
    display: block;
}

P.menu
{
    text-align: right
}

form.search
{
    float: right;
}

form.content
{
    width:600px;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10%;
}

form.link
{
    width:100px;
    height:100px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    padding: 5px;
}

h6 {
    font-size: 0.6em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    padding-left: 5px;
}

h4 {
    display: block;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: unset;
    overflow: hidden;
    max-height:20%;
    max-width:100%;
    line-height: 25px;
    padding: 5px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

h4.full {
    display: block;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: unset;
    max-width:100%;
    line-height: 25px;
    padding: 5px;
    word-wrap: break-word;
}

h5 {
    padding: 5px;
    display: block;
    font-size: .83em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
}

h5.comment {
    padding: 5px;
    display: block;
    font-size: .83em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.form {
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
ul
{
    list-style-type:none;
}

table.users
{
    background: #FFE4C4;
    border: 1px solid #F4A460;
    margin-right: 5%;
    margin-left: 5%;
}

 li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

 label
{
    width:180px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}


input.date
{
    height:20px;
    width:150px;
}
.form input
{
    height:20px;
    width:220px;
    padding:5px 8px;
}

 textarea
{
     resize: none;
     width: 97%;
     height: 200px;
     padding: 5px;
}

button.editlink
{
    float: right;
    bottom:2px;
    overflow: visible;
    width: auto;
    margin: 0;
    padding: 2px;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

button.link
{
    position: absolute;
    bottom:2px;
    overflow: visible;
    width: auto;

    margin: 0;
    padding: 0;

    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

a.link
{
    position: absolute;
    bottom:2px;
}

button.linkauthor
{
    bottom:2px;
    overflow: visible;
    width: auto;

    margin: 0;
    padding: 5px;

    background: none;
    border: none;
    color: red;
    cursor: pointer;
}
button.submit {
    background-color: #CD5C5C;
    background: -webkit-gradient(linear, left top, left bottom, from(#CD5C5C), to(#F08080));
    background: -webkit-linear-gradient(top, #CD5C5C, #F08080);
    background: -moz-linear-gradient(top, #CD5C5C, #F08080);
    background: -ms-linear-gradient(top, #CD5C5C, #F08080);
    background: -o-linear-gradient(top, #CD5C5C, #F08080);
    background: linear-gradient(top, #CD5C5C, #F08080);
    border: 1px solid #F08080;
    border-bottom: 1px solid #F08055;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #F08020;
    -webkit-box-shadow: 0 1px 0 0 #F08020 inset ;
    -moz-box-shadow: 0 1px 0 0 #F08020 inset;
    -o-box-shadow: 0 1px 0 0 #F08020 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #CD5A5C;
}
button.submit:hover
{
    opacity:.85;
    cursor: pointer;
}
button.submit:active
{
    border: 1px solid #CD2A5C;
    box-shadow: 0 0 10px 5px #CD1A5C inset;
    -webkit-box-shadow:0 0 10px 5px #CD1A5C inset ;
    -moz-box-shadow: 0 0 10px 5px #CD1A5C inset;
    -o-box-shadow: 0 0 10px 5px #CD1A5C inset;
}